.sideBarFilters {
  position: fixed;
  width: 20rem;
  bottom: 0;
  top: 10rem;
  left: 0;

  &__heading {
    margin: 2rem 0;
  }

  .list__item {
    position: relative;
    margin-bottom: 5px;
    user-select: none;
  }

  .input {
    margin-right: 1rem;
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;

    &:checked + .checkmark:after {
      display: block;
    }
    &:checked + .checkmark {
      background-color: #40d59d;
    }
  }
  .label {
    width: 100%;
    display: block;
    padding-left: 35px;
    padding: 0rem 0 0rem 3.5rem;
    cursor: pointer;
  }

  .checkmark {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    height: 1.3rem;
    width: 1.3rem;
    background-color: #eee;
    border-radius: 50%;

    .checkmark:after {
      content: '';
      position: absolute;
      display: none;
      top: 9px;
      left: 9px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: white;
    }
  }
}
