.slider {
  padding: 1rem;
  font-size: 16px;

  &__list {
    display: flex;
    justify-content: center;
    overflow: hidden;
    overflow-x: scroll;
  }

  &__heading {
    margin: 40px 0 30px 0;
  }

  .slide {
    flex: 0 0 25%;
  }
}
