.movieList {
  font-size: 16px;

  &__wrapper {
    width: 1000px;
    margin: auto;
  }

  &__heading {
    margin: 40px 0 30px 0;
  }

  &__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}
