.modal-movie {
  .modal-heading {
  }

  &__content {
    display: flex;

    &-left {
      margin-right: 50px;

      .image {
      }
    }
    &-right {
      .dataOfRelease {
        margin: 1rem 0;
      }
    }
  }
  &__actions {
    text-align: right;
  }
}
