.topBar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 10rem;
  padding: 3rem 4rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo-wrapper {
    &__logo {
      color: #4ff7c6;
      font-size: 4rem;
      line-height: 0;
    }
  }

  .search-wrapper {
    &__search {
      width: 400px;
      padding: 10px;
      background-color: rgba(255, 255, 255, 0.1);
      color: #fff;
      border-radius: 100px;
      border: none;
      outline: none;
    }
  }

  .nav {
    &__list {
      display: flex;
      align-items: center;
    }

    &__item {
      list-style-type: none;
      padding: 0 2rem;

      a {
        text-decoration: none;
        color: grey;

        &:hover {
          color: #fff;
        }
      }
      &--user {
        font-size: 2.3rem;
      }
    }
  }
}
