@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

#root {
  overflow: hidden;
  height: 100vh;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  box-sizing: border-box;
  font-size: 1.6rem;
  color: #fff;
  background-color: black;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #000;
}

.btn {
  padding: 10px 30px;
  border: none;
  outline: none;
  background-color: #40d59d;
  color: #fff;
  border-radius: 5px;
  margin: 0 5px;
  font-size: 14px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 0.2s;

  &--loadMore {
    display: block;
    margin: 1rem auto;
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  }

  &:active {
    transform: translateY(0px);
  }
}
