@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

#root {
  overflow: hidden;
  height: 100vh;
}

html {
  font-size: 62.5%;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #000;
}
body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  box-sizing: border-box;
  font-size: 1.6rem;
  color: #fff;
  background-color: black;
}
