*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

#root {
  overflow: hidden;
  height: 100vh;
}

html {
  font-size: 62.5%;
}

body {
  //   font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  box-sizing: border-box;
  font-size: 1.6rem;
}
