.sideBarNews {
  position: fixed;
  border: 1px solid red;
  width: 20rem;
  top: 10rem;
  right: 0;
  bottom: 0;
  padding: 20px;

  &__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__heading {
    margin-bottom: 20px;
  }

  .movieList__item {
    flex: 1 1 100%;
    padding: 0;
    margin-bottom: 10px;
  }
}
