.signUp {
  position: relative;
  padding: 5rem;
  .form {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
    grid-gap: 5rem;
    grid-column-gap: 10rem;
    .wrapper {
      position: relative;
      width: 100%;
      margin: 0 auto;
      border-bottom: 1px solid grey;

      .label {
        position: absolute;
        top: 0;
        left: 0;
        transition: all ease-out 0.2s;
      }
      .input {
        color: #fff;
        line-height: 22px;
        font-size: 2rem;
        display: block;
        margin: 0 auto;
        width: 100%;
        border: none;
        outline: none;
        background-color: transparent;
      }
      .input:focus + .label {
        top: -2.2rem;
        font-size: 1rem;
      }

      .input:not(:placeholder-shown) + .label {
        top: -22px;
        font-size: 1rem;
      }

      .input[type='date']:required:invalid::-webkit-datetime-edit {
        color: transparent;
      }

      .input[type='date']:focus::-webkit-datetime-edit {
        color: black !important;
      }
    }
    .label-gender {
      margin: 0 1rem;
    }
    .input-gender {
      margin: 0 1rem;
    }

    .btn-form {
      position: absolute;
      right: 3rem;
      bottom: 100px;
      padding: 10px 60px;
    }
  }

  #select {
    margin-left: 2rem;
  }

  .error-message {
    color: red;
    margin: 5rem 0;
  }
}
